
html {
}
body {
	padding: 10px;
	margin: 10px;
	font-size: 14px;
}

.gol-content{
	margin: auto;
	text-align: center;
}
.gol-wrapper{
	display: inline-block;
	padding: 5px;
	text-align: left;
}
.gol-title{
	font-weight: bold;
	margin: 10px 0px 10px 5px;
	text-align: left;
}

.gol-grid{
	background-color: #bbb;
	display: inline-block;
}

.vert-gridline{
	border-left: none;
}
.horiz-gridline{
	border-bottom: none;
}
.gridlines .vert-gridline{
	border-left: 1px solid black !important;
}
.gridlines .horiz-gridline{
	border-bottom: 1px solid black !important;
}
.gridlines .horiz-gridline:last-child{
	border-bottom: none !important;
}

.cell {
	cursor: pointer;
	display:inline-block;
	width:12px;
	height:12px;
	margin: 1px;
	z-index: 10;
}
.cell-value {
	width: 100%;
	text-align: center;
}
.drag-target{
	border-top-color: green !important;
	border-left-color: green !important;
	border-top-style: solid !important;
	border-left-style: solid !important;
	border-left-width: 1px !important;
	border-top-width: 1px !important;
}

.cell.gridlines {
	margin: 0px !important;
}
.cell.horiz-gridline {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
.cell.vert-gridline {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.greens a{
	color: #008800;
}
.greens .alive {
	background-color: #008800;
}
.greens .dead {
	background-color: #dddddd;
}
.greens .preview.dead {
	background-color: #008800;
}
.greens .preview.alive {
	background-color: #dddddd;
	opacity: .3
}

.greens.tracers .been-dead-1{
	background-color: #008800;
	opacity: .80;
}
.greens.tracers .been-dead-2{
	background-color: #008800;
	opacity: .60;
}
.greens.tracers .been-dead-3{
	background-color: #008800;
	opacity: .40;
}
.greens.tracers .been-dead-4{
	background-color: #008800;
	opacity: .20;
}

.reds a{
	color: #880000;
}
.reds .alive {
	background-color: #880000;
}
.reds .cell.alive{
	color: #ddd;
}
.reds .dead {
	background-color: #dddddd;
}
.reds .preview.dead {
	background-color: #880000;
}
.reds .preview.alive {
	background-color: #dddddd;
	opacity: .3
}

.reds.tracers .been-dead-1{
	background-color: #880000;
	opacity: .80;
}
.reds.tracers .been-dead-2{
	background-color: #880000;
	opacity: .60;
}
.reds.tracers .been-dead-3{
	background-color: #880000;
	opacity: .40;
}
.reds.tracers .been-dead-4{
	background-color: #880000;
	opacity: .20;
}

.oranges a{
	color: #C9760B;
}
.oranges .alive {
	background-color: #C9760B;
}
.oranges .dead {
	background-color: #dddddd;
}
.oranges .preview.dead {
	background-color: #C9760B;
}
.oranges .preview.alive {
	background-color: #dddddd;
	opacity: .3
}

.oranges.tracers .been-dead-1{
	background-color: #C9760B;
	opacity: .80;
}
.oranges.tracers .been-dead-2{
	background-color: #C9760B;
	opacity: .60;
}
.oranges.tracers .been-dead-3{
	background-color: #C9760B;
	opacity: .40;
}
.oranges.tracers .been-dead-4{
	background-color: #C9760B;
	opacity: .20;
}

.blues a{
	color: #000088;
}
.blues .alive {
	background-color: #000088;
}
.blues .cell.alive{
	color: #ddd;
}
.blues .dead {
	background-color: #dddddd;
}
.blues .preview.dead {
	background-color: #000088;
}
.blues .preview.alive {
	background-color: #dddddd;
	opacity: .3
}

.blues.tracers .been-dead-1{
	background-color: #000088;
	opacity: .60;
}
.blues.tracers .been-dead-2{
	background-color: #000088;
	opacity: .45;
}
.blues.tracers .been-dead-3{
	background-color: #000088;
	opacity: .35;
}
.blues.tracers .been-dead-4{
	background-color: #000088;
	opacity: .20;
}

.purples a{
	color: #760BC9;
}
.purples .alive {
	background-color: #760BC9;
}
.purples .cell.alive{
	color: #ddd;
}
.purples .dead {
	background-color: #dddddd;
}
.purples .preview.dead {
	background-color: #760BC9;
}
.purples .preview.alive {
	background-color: #dddddd;
	opacity: .3
}

.purples.tracers .been-dead-1{
	background-color: #760BC9;
	opacity: .60;
}
.purples.tracers .been-dead-2{
	background-color: #760BC9;
	opacity: .45;
}
.purples.tracers .been-dead-3{
	background-color: #760BC9;
	opacity: .35;
}
.purples.tracers .been-dead-4{
	background-color: #760BC9;
	opacity: .20;
}

.rainbow a{
	color: #C9170B;
}
.rainbow .alive {
	background-color: #C9170B;
}
.rainbow .cell.alive{
	color: #ddd;
}
.rainbow .dead {
	background-color: #dddddd;
}
.rainbow .preview.dead {
	background-color: #C9170B;
}
.rainbow .preview.alive {
	background-color: #dddddd;
	opacity: .3
}

.rainbow .been-dead-1{
	background-color: #C9760B;
}
.rainbow .been-dead-2{
	background-color: #BDC90B;
}
.rainbow .been-dead-3{
	background-color: #0BC917;
}
.rainbow .been-dead-4{
	background-color: #170BC9;
}

.button-bar{
	display: inline-block;
	margin: 10px 5px 5px 5px;
	text-align: left;
	left: 5px;
}
.button-bar button{
	right: 0px;
	width: 70px;
	margin-left: 10px;
}
.button-bar button:first-child{
	margin-left: 0px;
}

.player-controls{
	vertical-align: top;
	padding: 8px;
	border-radius: 5px;
	display:inline-block;
	border:1px solid #ccc;
}
.generator-controls{
	padding: 8px;
	border-radius: 5px;
	display:inline-block;
	border:1px solid #ccc;
}
.summary-controls{
	padding: 8px;
	border-radius: 5px;
	display:inline-block;
	vertical-align:top;
	border:1px solid #ccc;
}

.gol-fa-icon{
	margin-left:5px;
	cursor: pointer;
}

.variables-bar{
	margin-top: 10px;
}
.dimension{
	width: 40px;
}

.viewer-wrapper{
	position:absolute;
	padding:5px;
	overflow-y:scroll;
	border: 1px solid #777;
	border-radius: 5px;
	-webkit-box-shadow: -11px 9px 18px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -11px 9px 18px 0px rgba(0,0,0,0.75);
	box-shadow: -11px 9px 18px 0px rgba(0,0,0,0.75);
}
.viewer-wrapper .button-bar{
	display: block;
	margin-top: 0px;
	margin-left: 0px;
}

textarea.viewer, div.viewer{
	height:inherit;
	width:500px;
	height:350px;
}
div.viewer{
	background-color: white;
	padding: 10px;
	overflow-y: scroll;
	font-size: 1.1em;
}

.export-viewer-wrapper{
	right:45px;
	top:35px;
}
.help-viewer-wrapper{
	top:200px;
	margin-left: auto;
	margin-right: auto;
	left:400px;
}
.help-viewer-wrapper .cell{
	height: 24px;
	width: 24px;
}
.viewer .mini-grid{
	display:inline-block;
	background-color:#bbb;
}
.mini-grid.indent{
	margin-left: 25px;
}


.glyph{
	position: relative;
	display: inline-block;
	background-color: #eee;
	cursor: pointer;
	opacity: .4;
}
.gol-grid .cell.glyph-hover{
	border-top-width: 1px;
	border-top-color: blue;
	border-top-style: solid;
}


.spacer{
	width: 5px;
	height: 1.2em;
	display: inline-block;
	vertical-align: top;
}

.disabled-font{
	color: #ccc !important;
	cursor: default;
}
