
<div style="height: 0px; width: 100%;"></div>
<div class="button-bar">
	<div class="player-controls">
		<button ng-click="startGame();" ng-disabled="gameDataService.game.running">Start</button>
		<button ng-click="pauseGame();" ng-disabled="!gameDataService.game.running">Pause</button>
		<button ng-click="stepGame();" ng-disabled="gameDataService.game.running">Step</button>
		<input ng-checked="gameDataService.game.previewing" name="preview" type="checkbox" 
			ng-mousedown="previewGeneration();" ng-mouseup="removePreview();" 
			ng-disabled="gameDataService.game.running"></input>
		<label ng-mousedown="previewGeneration()" ng-mouseup="removePreview()" for="preview"
			class="{{gameDataService.game.running ? 'disabled-font' : ''}}">Preview</label>
			
		<div class="variables-bar">
			<span>gestation</span>
			<select ng-model="gameDataService.game.gestation" 
				ng-options="gestationOption for gestationOption in gameDataService.gestationOptions" ng-change="gestationChange();">
			</select>
			<span class="spacer"></span><span class="spacer"></span>
			
			<!-- 
			<input ng-model="gameDataService.showRecentDeath" name="showRecentDeath" type="checkbox"></input>
			<label ng-click="gameDataService.showRecentDeath = !gameDataService.showRecentDeath" for="showRecentDeath">tracers</label>
			 -->
			<select ng-model="gameDataService.colorScheme" 
				ng-options="colorScheme.name for colorScheme in gameDataService.colorSchemeOptions">
			</select>
		</div>
	</div>
	
	<span class="spacer"></span>
	<span class="spacer"></span>

	<div class="generator-controls">
		<button ng-click="newGame();" ng-disabled="gameDataService.game.running">Random</button>
		<button ng-click="clear();" ng-disabled="gameDataService.game.running">Clear</button>
		<button ng-click="generateJson();" ng-disabled="gameDataService.game.running">JSON</button>
		<div class="variables-bar">
			<input type="text" class="dimension" ng-disabled="gameDataService.game.running" ng-model="gameDataService.game.oddsOfLife"></input><span class="{{gameDataService.game.running ? 'disabled-font' : ''}}"> odds of life</span>
			<span class="spacer"></span>
			<input ng-model="gameDataService.game.gridlines" name="gridlines" type="checkbox"></input>
			<label ng-click="gameDataService.game.gridlines = !gameDataService.game.gridlines" for="gridlines">gridlines</label>
		</div>
		<div class="variables-bar">
			<select ng-model="gameDataService.game.selectedSample" ng-options="world.name for world in sampleWorldService.getSamples()" 
				ng-disabled="gameDataService.game.running" ng-change="updateSampleWorld()">
				<option value="">Select a sample world</option>
			</select>
		</div>
	</div>
	
	<span class="spacer"></span>
	<span class="spacer"></span>
	<div class="summary-controls">
		<span>Generation {{gameDataService.game.generationCount}}, Running: {{gameDataService.game.running}}</span>
	</div>
	
	<!-- 
		<input type="text" class="dimension" ng-model="gameDataService.game.dimensions.width" ng-blur="rebuildWorld()"></input>w&nbsp;x&nbsp;
		<input type="text" class="dimension" ng-model="gameDataService.game.dimensions.height" ng-blur="rebuildWorld()"></input>h
	 -->

</div>
