
.gol-title{
	font-weight: bold;
	margin: 10px 0px 10px 0px;
}
.button-bar{
	margin: 5px;
}
.button-bar button{
	margin-right: 10px;
}
.cell {
	cursor: pointer;
	display:inline-block;
	width:15px;
	height:15px;
	margin: 1px;
}
.cell-value {
	width: 100%;
	text-align: center;
}
.alive {
	background-color: #008800;
}
.dead {
	background-color: #dd8888;
}